<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lorem ipsum</title>
        <link href="/assets/style.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <% include partials/nav.ejs %>
        <h1>Thanks Motherfucker !</h1>
        <p><%= data.who %> from <%= data.department %> was warning </p>
    </body>
</html>